rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.uid == '5CMckLFqiCPoPCBQLz1YqBkgVXs1';
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if (signedIn() && request.auth.uid == userId) || isAdmin();
    }
  }
}
